<p>Hello world</p>

<input type="text" name="rss" value="http://rss.cnn.com/rss/money_markets.rss">
<main></main>

<script type="text/javascript" src="/js/primus.js"></script>

<script type="text/javascript">
	
const primus = new Primus()
const main = document.querySelector('main')

primus.on('data', (data) => {
	if (data.action === 'client:get_all') {
		console.log(data)
		const div = document.createElement('li')
		div.innerHTML = data.results.title
		main.appendChild(div)
	}
})
const input = document.querySelector('input[name=rss]')
input.addEventListener('input', (evt) => {
	if (!evt.currentTarget.value.trim().length) {
		return false
	}
	const urls = evt.currentTarget.value.split(',').map((url) => {
		return url.trim()
	}).filter(url => url.length)
	if (!urls.length) {
		return false
	}
	console.log(urls)
	main.innerHTML = ''
	primus.write({
		action: 'server:get_all', 
		payload: { urls }
	})
}, false)

</script>